{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Créer une formation</h1>

    {{ form_errors(formation) }}

    {{ form_start(formation) }}
        {{ form_row(formation.nom) }}
        {{ form_row(formation.valider) }}
    {{ form_end(formation) }}
{% endblock %}