{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% if app.user %}
            <h1>Acceuil</h1>
            <div>
                <h2>Sessions en cours</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Formation</th>
                            <th>Session</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Inscrit</th>
                            <th>Détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in now %}
                            <tr>
                                <th>
                                    {% if session.stagiaires|length == session.nombrePlaceTheorique %}
                                        <span class="complet">{{ "complète"|upper }}</span>
                                    {% endif %}
                                </th>
                                <th>{{session.formation.nom}}</th>
                                <th>{{session.nom}}</th>
                                <th>{{session.dateDebut|date('d/m/Y')}}</th>
                                <th>{{session.dateFin|date('d/m/Y')}}</th>
                                <th>{{session.stagiaires|length}} / {{session.nombrePlaceTheorique}}</th>
                                <th><a href="#">placeholder icone</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                            <h2>Sessions à venir</h2>
                            <table>
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Formation</th>
                            <th>Session</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Inscrit</th>
                            <th>Détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in futur %}
                            <tr>
                                <th>
                                    {% if session.stagiaires|length == session.nombrePlaceTheorique %}
                                        <span class="complet"> {{ "complète"|upper }} </span>
                                    {% endif %}
                                </th>
                                <th>{{session.formation.nom}}</th>
                                <th>{{session.nom}}</th>
                                <th>{{session.dateDebut|date('d/m/Y')}}</th>
                                <th>{{session.dateFin|date('d/m/Y')}}</th>
                                <th>{{session.stagiaires|length}} / {{session.nombrePlaceTheorique}}</th>
                                <th><a href="#">placeholder icone</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                            <h2>Sessions terminées</h2>
                            <table>
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Formation</th>
                            <th>Session</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Inscrit</th>
                            <th>Détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in past %}
                            <tr>
                                <th>
                                    {% if session.stagiaires|length == session.nombrePlaceTheorique %}
                                        <span class="complet"> {{ "complète"|upper }} </span>
                                    {% endif %}
                                </th>
                                <th>{{session.formation.nom}}</th>
                                <th>{{session.nom}}</th>
                                <th>{{session.dateDebut|date('d/m/Y')}}</th>
                                <th>{{session.dateFin|date('d/m/Y')}}</th>
                                <th>{{session.stagiaires|length}} / {{session.nombrePlaceTheorique}}</th>
                                <th><a href="#">placeholder icone</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ path('form_session') }}">Ajouter une session</a>
            <a href="{{ path('form_formation') }}">Ajouter une formation</a>
            <a href="{{ path('form_categorie') }}">Ajouter une categorie</a>
    {% else %}
            <div>
                <a href="{{ path('app_register') }}">Inscrivez vous</a>
            </div>
            <div>
                {{ render(controller(
                    'App\\Controller\\HomeController::loginRoute')
                ) }}
            </div>
    {% endif %}
{% endblock %}
