{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaire{% endblock %}

{% block body %}
    <h1>Liste des stagiaire :</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Date de Naissance</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>En session</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <th>{{stagiaire.nom}}</th>
                    <th>{{stagiaire.prenom}}</th>
                    <th>{{stagiaire.sexe}}</th>
                    <th>{{stagiaire.dateNaissance|date('d/m/Y') }}</th>
                    <th>{{stagiaire.ville}}</th>
                    <th>{{stagiaire.email}}</th>
                    <th>{{stagiaire.telephone}}</th>
                    {% set enSession = false %}
                    {% for aSession in stagiaire.sessions %}
                        {% if aSession.dateDebut <= "now"|date and aSession.dateFin >= "now"|date %} <!-- TODO: A tester  -->
                            {% set enSession = true %}
                        {% endif %}
                    {% endfor %}
                    <th>
                        {% if enSession == true %}
                            <span>Oui</span>
                        {% else %}
                            <span>Non</span>
                        {% endif %}
                    </th>
                    <th><a href="{{ path('show_stagiaire',{'id': stagiaire.id})}}">placeholder icone</a></th>
                </tr>
            {% endfor %}
            <tr><th><a href="{{ path('form_stagiaire')}}">Ajouter un stagiaire</a></th></tr>
        </tbody>
    </table> 
{% endblock %}