{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaire{% endblock %}

{% block body %}
    <h1>Liste des stagiaire :</h1>
    <table class="table table-secondary table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th class="text-center">Sexe</th>
                <th class="text-end">Date de Naissance</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>En session</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <th>{{stagiaire.nom}}</th>
                    <th>{{stagiaire.prenom}}</th>
                    <th class="text-center">{{stagiaire.sexe}}</th>
                    <th class="text-end">{{stagiaire.dateNaissance|date('d/m/Y') }}</th>
                    <th>{{stagiaire.ville}}</th>
                    <th>{{stagiaire.email}}</th>
                    <th>{{stagiaire.telephone}}</th>
                    {% set enSession = false %}
                    {% for aSession in stagiaire.sessions %}
                        {% if ( (today|date('Y') > aSession.dateDebut|date('Y')) or ((today|date('Y') == aSession.dateDebut|date('Y')) and (today|date('m') > aSession.dateDebut|date('m'))) or ((today|date('Y') == aSession.dateDebut|date('Y')) and (today|date('m') == aSession.dateDebut|date('m')) and (today|date('d') >= aSession.dateDebut|date('d'))) and (today|date('Y') < aSession.dateFin|date('Y')) or ((today|date('Y') == aSession.dateFin|date('Y')) and (today|date('m') < aSession.dateFin|date('m'))) or ((today|date('Y') == aSession.dateFin|date('Y')) and (today|date('m') == aSession.dateFin|date('m')) and (today|date('d') <= aSession.dateFin|date('d'))) ) %} <!-- test année -> mois -> jour car trst de full date sur twig ne marche pas comme voulu -->
                            {% set enSession = true %}
                        {% endif %}
                    {% endfor %}
                    <th class="text-center">
                        {% if enSession == true %}
                            <span class="col badge bg-success">Oui</span>
                        {% else %}
                            <span class="col badge bg-danger">Non</span>
                        {% endif %}
                    </th>
                    <th class="text-center"><a href="{{ path('show_stagiaire',{'id': stagiaire.id})}}" class="text-warning"><i class="fa-solid fa-user-pen"></i></a></th>
                </tr>
            {% endfor %}
            <tr><th class="text-center" colspan="9"><a href="{{ path('form_stagiaire')}}" class="link-primary">Ajouter un stagiaire</a></th></tr>
        </tbody>
    </table> 
{% endblock %}