{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Session à venir :</h1>
    <table class="table table-secondary table-striped table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Nom de la Session</th>
                <th class="text-end">Date de début</th>
                <th class="text-end">Date de fin</th>
                <th>Place théorique</th>
                <th>Place reservées</th>
                <th>Détail</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <th>{{session.nom}}</th>
                    <th class="text-end">{{session.dateDebut|date('d/m/Y')}}</th>
                    <th class="text-end">{{session.dateFin|date('d/m/Y')}}</th>
                    <th>{{session.nombrePlaceTheorique}}</th>
                    <th>{{session.stagiaires|length}}</th>
                    <th class="text-center"><a href="{{ path('app_session', {'id': session.id})}}" class="link-warning"><i class="fa-solid fa-pen-to-square"></i></a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}