{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>SESSION : {{ session.nom }} du {{ session.dateDebut|date('d/m/Y') }} au {{ session.dateFin|date('d/m/Y') }}</h1>
    <div>
        <h2>{{ session.formation.nom }} <a href="{{ path('edit_formation',{'id': session.formation.id})}}">edit</a></h2>
        <h2>Place total : {{ session.nombrePlaceTheorique }}</h2>
        {% set reste = session.nombrePlaceTheorique - session.stagiaires|length %}
        {% if reste == 0 %}
            <h2>{{'complète'|upper}}</h2>
        {% else %}
            <h2>Place restante : {{ reste }}</h2>
        {% endif %}
    </div>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Nombre de Jours</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if session.programmes is not empty %}
                        {% set titre1 = "" %} <!-- créer une variable ou stocker le futur nom de la categorie -->
                        {% for programme in session.programmes %}
                            {% set module = programme.module %}
                            {% if titre1 == "" or titre1 != module.categorie.nom %} <!-- tester la variable si elle est vide ou si elle contient un nom de categorie different des precedent -->
                                <tr>
                                    <th>{{module.categorie.nom}} <a href="{{ path('edit_categorie',{'id': module.categorie.id})}}">edit</a></th>
                                </tr>
                                {% set titre1 = module.categorie.nom %} <!-- donner comme valeur a la variable le nom de la categorie -->
                            {% endif %}
                            <tr>
                                <th>{{module.nom}} <a href="{{ path('edit_module',{'id': module.id})}}">edit</a></th>
                                <th>{{programme.nombreJours}}</th>
                                <th><a href="{{ path('delete_module',{'id': session.id, 'id_module': module.id})}}">placeholder icone</a></th>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <th>Cette session n'as pas de module</th>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Nombre de Jours</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% set titre2 = "" %}
                    {% for module in notInModule %} <!-- boucle sur tout les modules -->
                        {% if titre2 == "" or titre2 != module.categorie.nom %}
                            <tr>
                                <th>{{module.categorie.nom}} <a href="{{ path('edit_categorie',{'id': module.categorie.id})}}">edit</a></th>
                            </tr>
                            {% set titre2 = module.categorie.nom %}
                        {% endif %}
                        <form action="{{ path('add_module',{'id': session.id, 'id_module': module.id})}}" method="POST">
                            <tr>
                                <th>{{module.nom}} <a href="{{ path('edit_module',{'id': module.id})}}">edit</a></th>
                                <th><input type="number" name="nbJours" id="nbJours"></th>
                                <th><input type="submit" value="placeholder icone 2"></th>
                            </tr>
                        </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if session.stagiaires is not empty %}
                        {% for stagiaire in session.stagiaires %}
                            <tr>
                                <th>{{stagiaire.nom}}</th>
                                <th>{{stagiaire.prenom}}</th>
                                <th><a href="{{ path('delete_stagiaire',{'id': session.id, 'id_stagiaire': stagiaire.id})}}">placeholder icone</a></th>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th>Cette session n'as pas de stagiaire</th>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stagiaire in notInStagiaire %}
                        <tr>
                            <th>{{stagiaire.nom}}</th>
                            <th>{{stagiaire.prenom}}</th>
                            {% if reste == 0 %}
                                <th><span> </span></th>
                            {% else %}
                                <th><a href="{{ path('add_stagiaire',{'id': session.id, 'id_stagiaire': stagiaire.id})}}">placeholder icone 2</a></th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}