{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Créer un module</h1>

    {{ form_errors(module) }}

    {{ form_start(module) }}
        {{ form_row(module.nom) }}
        {{ form_row(module.categorie) }}
        {{ form_row(module.valider) }}
    {{ form_end(module) }}
{% endblock %}