<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/50e50e8630.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container-fluid bg-dark">
                <nav class="justify-content-between d-flex flex-row ">
                    {% if app.user %}
                        <ul class="d-flex flex-row align-items-center nav">
                            <li><a href="{{ path('app_home')}}" class="nav-link text-white">Acceuil</a></li>
                            <li><span class="text-white"><i class="fa-solid fa-circle-user"></i> {{ app.user.pseudo }}</span></li>
                            <li><a href="{{ path('app_logout')}}" class="nav-link text-white">Déconnexion</a></li>
                        </ul>
                        <ul class="nav">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Session</a>
                                <ul class="dropdown-menu bg-dark">
                                    <li><a href="{{ path('now_session')}}" class="dropdown-item text-white">En Cours</a></li>
                                    <li><a href="{{ path('past_session')}}" class="dropdown-item text-white">Passé</a></li>
                                    <li><a href="{{ path('futur_session')}}" class="dropdown-item text-white">{{ 'à'|upper }} venir</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('app_stagiaire')}}" class="nav-link text-white">Stagiaire</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer></footer>
    </body>
</html>