{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

    {{ form_errors(categorie) }}

    {{ form_start(categorie) }}
        {{ form_row(categorie.nom) }}
        {{ form_row(categorie.valider) }}
    {{ form_end(categorie) }}
{% endblock %}